
<br><br><br><br>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <footer>
    <p>&copy; 2023 Real Estate. All rights reserved.</p>
  </footer>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/app.js"></script>
  </body>
</html>
