<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <main>
      <header>
      <nav>
          <img src="Assets/images/new.jpg" alt="Logo"  height="70" width="70">
          <div class="logo">Shelternet</div>
          <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/agent-single">Listings</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <div class="hero">
        <h1>Welcome to Our Real Estate Website</h1>
        <p>Find your dream home with us</p>
        
      </div>
    </header>
  </main>